.details{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contant{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    box-shadow: 5px 9px 20px 3px rgb(197, 197, 197);
    margin-top: 20px;
    padding: 20px;
    align-items: center;
    background-color: rgb(220, 220, 220);
    border-radius:10px ;
   
}
.text{
    width: 20%;
}
.contant svg{
    color: rgb(24, 6, 86);
}